body{
    margin:0px;
    background-color: $primaryColor;
    
}


@media screen and (max-width: 480px) {
    body{
        background-color:red;
    }
    .avatar{
        margin-top: -18rem;
    }

}   