body{
    margin:0px;
    background-color: $primaryColor;
    
}


@media screen and (max-width: 480px) { 
    body{
        background-color:#faa307;
    }
    .avatar{
        margin-top: -18rem;
    }
    .title{
        color:$primaryColor; 
    }

    

}   