nav{
    @include flexCenter (row,center);
    a {
        text-decoration: none;
        color:$navColor;
        font-size: 2rem;
        margin:0,01rem 1rem 0,01rem;     
    };
}
h1{
    color:$texth1;
}
.avatar{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.1rem 0.5rem 0.1rem;
}