nav{
    @include flexCenter (row,center);
    background-color: $navColor ;
    a {       
        text-decoration: none;
        color:$navFontColor;
        font-size: 2rem;
        margin:0rem 1rem ;    
    }
}
.lineaRoja{
    border-bottom: solid red 1px;
}