@import'./var';
@import'./mixins';
@import'./body';
@import'./nav';
@import'./perfiles';
@import'./footer';
@import'./titulo';


.title{
    @include flexCenter(row,start);
    margin-bottom:0.5rem;
    font-size:small;
    color:$textcolor;    
   }


.lineaRoja{
    border-bottom: solid red 1px;
}
